.head{
    color: #6b8e23; 
	text-align: center;
    font-style: italic;
}
.table{
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:crimson; 
}
.comp{
    text-align: center;
}
.k187{
text-align: left;
background-color: antiquewhite; 
color: #6b8e23;
font-style: italic;
}


.k188{
    text-align: left;
    background-color: antiquewhite; 
    color: #6b8e23;
    font-style: italic;
}

.k189{
    text-align: left;
    background-color: antiquewhite; 
    color: #6b8e23;
    font-style: italic;
    }